<div style="display: inline-block;">
   <div class="card">
      <img class="card-img-top" src="assets/img/aquaman.png" alt="Card image cap">
      <div class="card-body">
         <h5 class="card-title">Aquaman</h5>
         <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, libero?</p>
         <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
         <button type="button" class="btn btn-outline-primary">Ver más...</button>
      </div>
   </div>
   <div class="card">
      <img class="card-img-top" src="assets/img/batman.png" alt="Card image cap">
      <div class="card-body">
         <h5 class="card-title">Batman</h5>
         <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, aliquid!</p>
         <p class="card-text"><small class="text-muted">Last updated 5 mins ago</small></p>
         <button type="button" class="btn btn-outline-primary">Ver más...</button>
      </div>
   </div>
   <div class="card">
      <img class="card-img-top" src="assets/img/hulk.png" alt="Card image cap">
      <div class="card-body">
         <h5 class="card-title">Hulk</h5>
         <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas, aliquid?</p>
         <p class="card-text"><small class="text-muted">Last updated 12 mins ago</small></p>
         <button type="button" class="btn btn-outline-primary">Ver más...</button>
      </div>
   </div>
   <div class="card">
      <img class="card-img-top" src="assets/img/daredevil.png" alt="Card image cap">
      <div class="card-body">
         <h5 class="card-title">Daredevol</h5>
         <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas, aliquid?</p>
         <p class="card-text"><small class="text-muted">Last updated 12 mins ago</small></p>
         <button type="button" class="btn btn-outline-primary">Ver más...</button>
      </div>
   </div>
   <div class="card">
      <img class="card-img-top" src="assets/img/linterna-verde.png" alt="Card image cap">
      <div class="card-body">
         <h5 class="card-title">Linterna Verde</h5>
         <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, minima.</p>
         <p class="card-text"><small class="text-muted">Last updated 28 mins ago</small></p>
         <button type="button" class="btn btn-outline-primary">Ver más...</button>
      </div>
   </div>
   <div class="card">
      <img class="card-img-top" src="assets/img/spiderman.png" alt="Card image cap">
      <div class="card-body">
         <h5 class="card-title">Spiderman</h5>
         <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, culpa!</p>
         <p class="card-text"><small class="text-muted">Last updated 34 mins ago</small></p>
         <button type="button" class="btn btn-outline-primary">Ver más...</button>
      </div>
   </div>
   <div class="card">
      <img class="card-img-top" src="assets/img/wolverine.png" alt="Card image cap">
      <div class="card-body">
         <h5 class="card-title">Wolverine</h5>
         <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, numquam!</p>
         <p class="card-text"><small class="text-muted">Last updated 2 hours ago</small></p>
         <button type="button" class="btn btn-outline-primary">Ver más...</button>
      </div>
   </div>
</div>